<!-- Hero Section //  -->
<section id="hero" class="hero section accent-background">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Colegios</h1>
          <p>Los colegios rurales ofrecen una experiencia educativa única, caracterizada por un fuerte vínculo con la comunidad y un profundo respeto por el entorno natural. Nos dedicamos a resaltar el valor y la importancia de estas instituciones que brindan educación de calidad en zonas rurales, adaptándose a las necesidades y recursos específicos de cada comunidad.</p>
          <div class="d-flex">
            <a href="#about" class="btn-get-started">Descubre más</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/Colage.jpg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  
  </section><!-- /Hero Section -->
  
  <!-- About Section -->
  <section id="about" class="about section">
  
    <div class="container">
  
      <div class="row gy-4">
  
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about-removebg-preview.png" class="img-fluid" alt="">
        </div>
  
        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <h3>Nosotros</h3>
          <p class="fst-italic">
            Promover la educación integral en zonas rurales a través de eventos educativos, recursos didácticos y
            actividades de educación ambiental, fomentando el cuidado del entorno y fortaleciendo la participación de
            la comunidad en el proceso de enseñanza-aprendizaje.
          </p>
          <a href="#services" class="read-more"><span>Leer más</span><i class="bi bi-arrow-right"></i></a>
        </div>
  
      </div>
  
    </div>
  
  </section><!-- /About Section -->
  
  <!-- Services Section -->
  <section id="services" class="services section">
  
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>eventos</h2>
      <p>Mejorar la calidad educativa en zonas rurales a través de eventos y actividades que promuevan la enseñanza y
        el cuidado ambiental, involucrando a la comunidad en el proceso.</p>
    </div><!-- End Section Title -->
  

  
  </section><!-- /Services Section -->
  
 