<!-- Hero Section // Sebas -->
<section id="hero" class="hero section accent-background">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Ecosistema del Futuro</h1>
        <p>Nos enfocamos en desarrollar proyectos con instituciones rurales, incluyendo actividades como Bootcamp,
          donde los estudiantes presentan investigaciones sobre sostenibilidad, medio ambiente y gestión del agua,
          promoviendo la conciencia ecológica, incluyendo a los estudiantes a semilleros de investigación con
          proyectos sostenibles y fortaleciendo sus habilidades para proteger el entorno natural.</p>
        <div class="d-flex">
          <a href="#about" class="btn-get-started">Descubre más</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/Colage.jpg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- /Hero Section -->

<!-- About Section -->
<section id="about" class="about section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/about-removebg-preview.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
        <h3>Misión</h3>
        <p class="fst-italic">
          Promover la educación integral en zonas rurales a través de eventos educativos, recursos didácticos y
          actividades de educación ambiental, fomentando el cuidado del entorno y fortaleciendo la participación de
          la comunidad en el proceso de enseñanza-aprendizaje.
        </p>
        <br>
        <br>
        <h3>Visión</h3>
        <p class="fst-italic">
          Ser un referente en la mejora de la calidad educativa en áreas rurales, impulsando el desarrollo
          sostenible y el bienestar comunitario mediante la integración de educación, medio ambiente y participación
          activa.
        </p>
        <a href="#" class="read-more"><span>Leer más</span><i class="bi bi-arrow-right"></i></a>
      </div>

    </div>

  </div>

</section><!-- /About Section -->

<!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Objetivos</h2>
    <p>Mejorar la calidad educativa en zonas rurales a través de eventos y actividades que promuevan la enseñanza y
      el cuidado ambiental, involucrando a la comunidad en el proceso.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
          <div>
            <p class="description">Desarrollar proyectos de investigación, impulsando el aprendizaje y la innovación
              entre los estudiantes.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
          <div>
            <p class="description">Proveer recursos didácticos y tecnológicos adaptados a las necesidades de los
              colegios rurales.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
          <div>
            <p class="description">Implementar actividades de educación ambiental que promuevan la sostenibilidad y
              el cuidado del entorno.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
          <div>
            <p class="description">Fomentar la participación activa de la comunidad en el proceso educativo.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
          <div>
            <p class="description">Contribuir a mejorar la calidad de vida en zonas rurales mediante la educación y
              el desarrollo de habilidades.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
          <div>
            <p class="description">Promover alianzas con instituciones y organizaciones que faciliten recursos y
              conocimientos para fortalecer la educación rural.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section><!-- /Services Section -->

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Instituciones</h2>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="swiper init-swiper" data-speed="600" data-delay="5000"
      data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class=" bi bi-quote quote-icon-left"></i>
              <span>Documentamos el proceso de los estudiantes en sus investigaciones, inspirandolos a seguir por
                este ambito de la investigacion y la innovacion.</span>
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <h3>Institucion Educativa Técnica Ambiental Soledad Medina Sede Principal Rocha</h3>
            <h4>Municipio Chaparral</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span>Narramos las experiencias y logros que fortalecen el desarrollo educativo en Chaparral. Mediante
                imágenes y videos, mostramos cómo nuestra institución contribuye a construir una comunidad más unida
                y comprometida con el futuro.</span>
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <h3>Institucion Educativa Técnica Ambiental Soledad Medina Sede Línea Diamante</h3>
            <h4>Municipio Chaparral</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span>El colegio se encuentra en el pintoresco pueblo de Cajamarca, rodeado de montañas y campos
                verdes que reflejan la belleza natural de la región. Ofrece una educación integral que combina un
                enfoque académico riguroso con el aprendizaje práctico, resaltando la importancia de las tradiciones
                locales y el respeto por el medio ambiente.</span>
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <h3>Institución Educativa Técnica La Leona</h3>
            <h4>Municipio Cajamarca</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span>Mostramos el innovador enfoque educativo de esta institución, impulsando proyectos que integran
                el cuidado del medio ambiente y la sostenibilidad.</span>
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <h3>Institución Educativa Técnica Agropecuaria El Guayabo</h3>
            <h4>Municipio Fresno</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span>La Institución Educativa Simón Bolívar es un centro de formación académica comprometido con la
                excelencia educativa, inspirado en los valores de libertad, responsabilidad y respeto por los
                derechos humanos, legado del Libertador Simón Bolívar. Nos enfocamos en ofrecer una educación
                integral de calidad, donde los estudiantes desarrollan habilidades académicas, sociales y
                emocionales que les permiten enfrentar con éxito los desafíos del mundo moderno.</span>
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <h3>Institución Educativa Simón Bolívar</h3>
            <h4>Municipio Guamo</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span>Capturamos los momentos y actividades que hacen florecer nuestra región en Mariquita. Mediante
                imágenes y videos, contamos las historias que representan la esencia de nuestra institución y el
                impacto positivo que generamos en la comunidad</span>
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <h3>Institución Educativa Técnica Francisco Nuñez Pedroso</h3>
            <h4>Municipio Mariquita</h4>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</section><!-- /Testimonials Section -->