
   <body>
        <div class="wrapper">
            <form action="#">
                <h2>Inicio de Sesión</h2>
                <div class="input-field">
                    <input type="text" required>
                    <label>Usuario</label>
                </div>
                <div class="input-field">
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
               
                <button type="submit">Ingresar</button>
                
            </form>
        </div>
    </body>
    