
  /* Contenido principal */
  .main-content {
    width: 80%;
    padding: 20px;
  }
  
/* Header de institución con efecto de estar colgado */
.institution-header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    padding: 10px 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(158, 195, 74, 0.7); /* Sombra suave */
    text-align: center;
    max-width: 700px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(10px);
    position: relative; 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
  }
  
  /* Líneas (cuerdas) que simulan que están atadas al recuadro */
.institution-header::before,
.institution-header::after {
  content: "";
  position: absolute;
  top: -70px; 
  width: 4px;
  height: 80px;
  background-color: #9EC34A; 
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.institution-header::before {
  left: 15%;
}

.institution-header::after {
  right: 15%;
}


  

/* Logo de la institución */
.institution-logo {
    max-width: 130px;
    height: auto;
    border-radius: 10px; 
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Efecto de animación al pasar el mouse */
  }
  
/* Efecto de hover en el recuadro completo */
.institution-header:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3), 0 0 20px rgba(158, 195, 74, 1); 
    transform: translateY(-5px); /* Mueve el recuadro hacia arriba cuando se hace hover */
  }

  /* Nombre de la institución */
  .institution-name {
    font-size: 2rem;
    font-weight: bold;
    color: #9EC34A;
    text-align: center;
    margin-bottom: 15px;
    
  }
  /* Línea divisora entre header y contenido */
.institution-divider {
    margin: 20px auto; 
    width: 45%;
    height: 2px; 
    background: linear-gradient(to right, rgba(158, 195, 74, 0) 0%, #4CAF50 50%, rgba(158, 195, 74, 0) 100%);
    border-radius: 1px; 
    margin-top: 100px;
  }
    /* Línea divisora abajo del evento  */
.institution-divider2 {
    margin: 20px auto; 
    width: 90%; /* Ancho de la línea */
    height: 2px; /* Grosor */
    background: linear-gradient(to right, rgba(158, 195, 74, 0) 0%, #4CAF50 50%, rgba(158, 195, 74, 0) 100%);
    
    border-radius: 1px; 
  }
  
  /* Línea divisoria */
  .section-divider {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background-color: #ddd;
  }
  
  /* Sección de eventos */
  .row.gy-4 {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

  }

  .content h2 {
    font-size: 3rem; 
    font-weight: bold;  
    color: #39803b;  
    margin-bottom: 20px; 
    margin-left: 10px; 
  }
 
  .card {
   
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(158, 195, 74, 0.3), 0 6px 15px rgba(158, 195, 74, 0.5); /* Sombra verde */
    
  }
  
  .card-body {
    padding: 20px;
    text-align: center;
    
  }
 
  .card h3 {
    font-size: 2rem;
    color: #b2d560;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  

  .event-media {
    margin-top: 10px;
  }
  

  .btn-check {
    background-color: #b3dc52;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-check:hover {
    background-color: #7ba832;
  }
  
  .event-media img {
    max-width: 150%;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Añadimos transición */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(158, 195, 74, 0.7); 
    width: 100%; /* Ajusta al ancho del contenedor */
    height: 100%; /* Ajusta al alto del contenedor */
    object-fit: cover; /* Hace que la imagen cubra el contenedor */
    object-position: center; /* Centra la imagen (opcional) */
}
.event-media img:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  filter: blur(1.2); /* movimiento */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3), 0 0 20px rgba(158, 195, 74, 1);
}
  
.media-video iframe {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(158, 195, 74, 0.7); /* Sombra suave */
}

.media-video iframe:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    filter: blur(1.2); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3), 0 0 20px rgba(158, 195, 74, 1);
}

  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  