<section style="margin-top: 6rem;" id="about" class="about section">
  <div class="container">
    <!-- Título principal dinámico -->
    <h1 style="text-align: center; color:#9EC34A">{{ colegioName }}</h1>
    
    <div class="row gy-4">
       <!-- Columna de imagen -->
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/about-removebg-preview.png" class="img-fluid" alt="">
      </div>

      <!-- Columna de contenido -->
      <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
        <h2>Eventos</h2>

        <!-- Listado de eventos -->
        <div class="card" *ngFor="let event of events">
          <div class="card-body">
            <h3>{{ event.title }}</h3>
            <p class="fst-italic">
              {{ event.description }}
            </p>

            <!-- Galería multimedia -->
            <div class="card-body" *ngFor="let multi of event.multimedia">
              <div *ngIf="multi.type=='Image'">
                <img src="{{ multi.url }}" alt="" width="320" height="240">
              </div>
              <div *ngIf="multi.type=='Video'">
                <a class="btn btn-check" href="{{ multi.url }}" >Ver video</a>
              </div>
            </div>
          </div>
        </div>

      </div>